*{
    margin: 0;
}
.navbar{
    width:100%;
    height: 75px;
    background-color: lightcoral;
    
    
}
.navbar h1{
    
    padding: 5px;
    text-align: center;    
}
.container1{
    display: flex;
     justify-content: flex-end;
     justify-content: space-around;
}
table, th, tr, td{
    
    border: 1px solid block;
    border-radius: 10%;
    border-collapse: collapse;
}
